extends layout

block content
    script.
        var navbarEl = document.getElementById("apptracker");
        navbarEl.classList.add("active");
    div(class="row")
        div(class="col-sm-12" align="center")
            br
            div(class="col-sm-4")
                div(class='appgrid')
                    div(class='appgridheader')
                        div(class="row")
                            div(class="col-sm-8")
                                div(class='appgridheadertext')                           
                                    h4 To Do
                            div(class="col-sm-4")
                                i(class="fas fa-plus" class="add-to-do")
                    ul(id='todolist' class='appgridlist')
                        li(class='appgriditem') Common App
            div(class="col-sm-4")
                div(class='appgrid')
                    div(class='appgridheader')
                        div(class='appgridheadertext')
                            h4 In Progress
                    ul(id='inprogresslist' class='appgridlist')
            div(class="col-sm-4")
                div(class='appgrid')
                    div(class='appgridheader')
                        div(class='appgridheadertext')
                            h4 Completed
                    ul(id='completedlist' class='appgridlist')

        div(class="modal fade" id="newItemModal" role="dialog")
            div(class="modal-dialog modal-lg")
                div(class="modal-content")
                    div(class="modal-header")
                        div(class="modal-title")
                            h4 Add Item
                    div(class="modal-body")
                        h4 This is a large modal.
                    div(class="modal-footer")
                        button(type="button" class="btn btn-default" data-dismiss="modal")
                            h4 Close
                        button(type="button" class="btn btn-default" data-dismiss="modal")
                            h4 Save

        script. 
            $("#todolist").sortable({connectWith: ".appgridlist"});
            $("#inprogresslist").sortable({connectWith: ".appgridlist"});
            $("#completedlist").sortable({connectWith: ".appgridlist"});

