extends layout

block content
    h1 App Tracker will go here
        div(class="col-sm-12")
            div(class="col-sm-1")
            div(class="col-sm-3")
                div(class='appgrid')
            div(class="col-sm-3")
                div(class='appgrid')
            div(class="col-sm-3")
                div(class='appgrid')
            div(class="col-sm-1")
