extends layout

block content
  script.
      var navbarEl = document.getElementById("resume");
      navbarEl.classList.add("active");
  div(class="row")
      div(class="col-sm-12" align="center")
      if items
          each item in items
              p #{item.item}
              p #{item.item_time}
              p #{item.item_desc}
