extends layout

block content
    div(class="col-med-1" align="left")
        button(type="submit" class="btn signout") < Sign Out
    div(class="row")
        div(class="col-sm-1")
        div(class="col-sm-11")
            br
            br
            div(class="col-sm-3")
                button(onclick="window.location.href='/resumebuilder'" class="homegrid")
                    div(align="center")
                        div(style="font-size:2em;")
                            i(class="far fa-file-alt")
                        h4 Resume Builder
            div(class="col-sm-1")
            div(class="col-sm-3")
                button(onclick="window.location.href='/interests'" class="homegrid")
                    div(align="center")
                        div(style="font-size:2em;")
                            i(class="far fa-thumbs-up")
                        h4 Interests & Resources
            div(class="col-sm-1")
            div(class="col-sm-3")
                button(onclick="window.location.href='/apptracker'" class="homegrid")
                    div(align="center")
                        div(style="font-size:2em;")
                            i(class="far fa-check-circle")
                        h4 Application Tracker
            div(class="col-sm-1")
    br
    br
    br
    div(class="row")
        div(class="col-sm-2" style="color: rgb(255, 255, 255);")
            h4 Elementary School
        div(class="col-sm-2" style="color: rgb(255, 255, 255);")
            h4 Junior High
        div(class="col-sm-2" style="color: rgb(255, 255, 255);")
            h4 Grade 9
        div(class="col-sm-2" style="color: rgb(255, 255, 255);")
            h4 Grade 10        
        div(class="col-sm-2" style="color: rgb(255, 255, 255);")
            h4 Grade 11
        div(class="col-sm-2" style="color: rgb(255, 255, 255);")
            h4 Grade 12
    div(class="progress")
        div(class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%")
 
