extends layout

block content
    div(class="col-med-1" align="left")
        button(type="submit" class="btn signout") < Sign Out
    div(class="row")
        div(class="col-sm-1")
        div(class="col-sm-11")
            br 
            br 
            div(class="col-sm-3")
                button(onclick="window.location.href='/resumebuilder'" class="homegrid")
                    div(align="center")
                        div(style="font-size:2em;")
                            i(class="far fa-file-alt")
                        h4 Resume Builder
            div(class="col-sm-1")
            div(class="col-sm-3")
                button(onclick="window.location.href='/interests'" class="homegrid")
                    div(align="center")
                        div(style="font-size:2em;")
                            i(class="far fa-thumbs-up")
                        h4 Interests and Resources
            div(class="col-sm-1")
            div(class="col-sm-3")
                button(onclick="window.location.href='/apptracker'" class="homegrid")
                    div(align="center")
                        div(style="font-size:2em;")
                            i(class="far fa-check-circle")
                        h4 Application Tracker
            div(class="col-sm-1")