extends layout

block content
    div(class="col-sm-2" align="left")
        button(type="submit" onclick="window.location.href='/home'" class="btn btn-default signout") < Back
    div(class="col-sm-10")
        h2(style="font-size:48px") Interests & Resources
    div(class="row")
        div(class="col-sm-1")
        div(class="col-sm-11")
            br
            br
            div(class="row")
                div(class="col-sm-4")
                    button(class="resumegrid" style="font-size:36px") College Preferences
                div(class="col-sm-4")
                    button(class="resumegrid" style="font-size:36px") Scholarship Research
                div(class="col-sm-4")
                    button(class="resumegrid" style="font-size:36px") Major Research
            div(class="gridbreak")
                div(class="col-sm-12")
            div(class="row")
                div(class="col-sm-4")
                    button(class="resumegrid" style="font-size:36px") College Research
                div(class="col-sm-4")
                    button(class="resumeaddgrid")
                        div(style="font-size:1.5em;")
                            i(class="fas fa-plus")
