extends layout

block content
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
        a(class="navbar-brand" href="#") Interests & Resources
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
            div(class="navbar-nav")
                a(class="nav-item nav-link" href="/home") Home
                a(class="nav-item nav-link" href="/resumebuilder") Resume Builder
                a(class="nav-item active nav-link" href="/interests") Interests & Resources
                a(class="nav-item nav-link" href="/apptracker") Application Tracker

    div(class="col-med-1" align="left")
        button(type="submit" onclick="window.location.href='/home'" class="btn btn-default signout") < Back
    div(class="row")
        div(class="col-sm-1")
        div(class="col-sm-11")
            br
            br
            div(class="row")
                div(class="col-sm-4")
                    button(class="resumegrid") College Preferences
                div(class="col-sm-4")
                    button(class="resumegrid") Scholarship Research
                div(class="col-sm-4")
                    button(class="resumegrid") Major Research
            div(class="gridbreak")
                div(class="col-sm-12")
            div(class="row")
                div(class="col-sm-4")
                    button(class="resumegrid") College Research
                div(class="col-sm-4")
                    button(class="resumeaddgrid")
                        div(style="font-size:1.5em;")
                            i(class="fas fa-plus")
