extends layout

block content
    script.
        var navbarEl = document.getElementById("interests");
        navbarEl.classList.add("active");
    div(class="row")
        div(class="col-sm-12" align="center")
            br
            br
            div(class="row")
                div(class="col-sm-4")
                    button(class="resumegrid") College Preferences
                div(class="col-sm-4")
                    button(class="resumegrid") Scholarship Research
                div(class="col-sm-4")
                    button(class="resumegrid") Major Research
            div(class="gridbreak")
                div(class="col-sm-12")
            div(class="row")
                div(class="col-sm-4")
                    button(class="resumegrid") College Research
                div(class="col-sm-4")
                    button(class="resumeaddgrid")
                        div(style="font-size:1.5em;")
                            i(class="fas fa-plus")
