doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")

  body
    nav(class="navbar navbar-default")
      div(class="navbar-header")
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand" style="font-size:21px") TrackMyPath
      div(class="collapse navbar-collapse" id="navbar-collapse")
        ul(class="nav navbar-nav")
          li(id="home")
            a(href="/home" style="font-size:14px") Home
          li(id="resume")
            a(href="/resumebuilder" style="font-size:14px") Resume Builder
          li(id="interests")
            a(href="/interests" style="font-size:14px") Interests & Resources
          li(id="apptracker")
            a(href="/apptracker" style="font-size:14px") Application Tracker
        ul(class="nav navbar-nav navbar-right")
          li(class="signout")
            a(href="/logout" style="font-size:14px") Sign Out
    div(class="page-content")
      block content
