extends layout

block content
    script.
        var navbarEl = document.getElementById("resume");
        navbarEl.classList.add("active");
    div(class="row")
        div(class="col-sm-12" align="center")
            br
            br
            div(class="row")
                div(class="col-sm-4")
                    button(class="resumegrid") Service
                div(class="col-sm-4")
                    button(class="resumegrid") Leadership
                div(class="col-sm-4")
                    button(class="resumegrid") Sports
            div(class="gridbreak")
                div(class="col-sm-12")
            div(class="row")
                div(class="col-sm-4")
                    button(class="resumegrid") Test Scores 
                div(class="col-sm-4")
                    button(class="resumegrid") Awards
                div(class="col-sm-4")
                    button(class="resumeaddgrid")
                        div(style="font-size:1.5em;")
                            i(class="fas fa-plus")
