extends layout

block content
    div(class="col-sm-1" align="left")
        button(type="submit" onclick="window.location.href='/home'" class="btn btn-default signout") < Back
    div(class="col-sm-11")
        h1 
        h1 
        div(class="col-sm-3")
            button(class="resumebuildergrid")
                div(align="center")
                    h2 Service
            h1
            h1
            button(class="resumebuildergrid")
                div(align="center")
                    h2 Leadership
        div(class="col-sm-1")
        div(class="col-sm-3")
            button(class="resumebuildergrid")
                div(align="center")
                    h2 Sports
            h1
            h1
            button(class="resumebuildergrid")
                div(align="center")
                    h2 Test Scores 
        div(class="col-sm-1")
        div(class="col-sm-3")
            button(class="resumebuildergrid")
                div(align="center")
                    h2 Awards
            h1
            h1
            button(class="resumebuilderaddgrid")
                div(align="center")
                    div(style="font-size:1.5em;")
                        i(class="fas fa-plus")
        div(class="col-sm-1")
