extends layout

block content
    script.
        var navbarEl = document.getElementById("resume");
        navbarEl.classList.add("active");
    div(class="row")
        div(class="col-sm-12" align="center")
            br
            br
            - var n = 0;
            each cat in categories
                if n % 3 == 0
                    div(class="row")
                    div(class="gridbreak")
                        div(class="col-sm-12")
                - n++
                div(class="col-sm-4")
                    button(class="resumegrid" style="font-size:36px") #{cat}

            if n % 3 == 0
                div(class="row")
                div(class="gridbreak")
                    div(class="col-sm-12")

            div(class="col-sm-4")
                button(class="resumeaddgrid")
                    div(style="font-size:1.5em;")
                        i(class="fas fa-plus")
