extends layout

block content
    div(align="center")
        h1 Sign Up
        div(class="signup")
            form(class="form-horizontal" method="post")
                div(class="form-group")
                    div(class="col-sm-3" align="right")
                        label(class="control-label" for="firstname") First Name
                    div(class="col-sm-9")
                        input(type="text" class="form-control" name="firstname")
                div(class="form-group")
                    div(class="col-sm-3" align="right")
                        label(class="control-label" for="lastname") Last Name
                    div(class="col-sm-9")
                        input(type="text" class="form-control" name="lastname")
                div(class="form-group")
                    div(class="col-sm-3" align="right")
                        label(class="control-label" for="email") Email
                    div(class="col-sm-9")
                        input(type="email" class="form-control" name="email")
                div(class="form-group")
                    div(class="col-sm-3" align="right")                    
                        label(class="control-label" for="password") Password
                    div(class="col-sm-9")
                        input(type="password" class="form-control" name="password")
                div(class="form-group")
                    div(class="col-sm-3" align="right")
                        label(class="control-label" for="grade") Grade
                    div(class="col-sm-9")
                        //input(type="text" class="form-control" name="grade")
                        select(class="form-control" name="grade")
                            option(value="9") 9
                            option(value="10") 10
                            option(value="11") 11
                            option(value="12") 12
                            option(value="Elementary School") Elementary School
                            option(value="Junior High") Junior High
                br
                div(class="row")
                    div(style="float:left; padding-left:15px;")
                        button(type="button" onclick="window.location.href='/login'" class="btn btn-default") < Back
                    div(style="float:right; padding-right:15px;")
                        input(type="submit" class="btn btn-default" value="Submit >")
            