html {
  height: 100%;
}

body {
  padding: 50px;
  font-family: Verdana, Geneva, sans-serif;
  background-image: url("../images/wallpaper.jpg");
  background-size: cover;
}

h1 {
  font-size: 6vw;
  font-weight: bold;
  padding-bottom: 20px;
}

div.login {
  border-radius: 6px;
  border: 2px solid gray;
  width: 400px;
  padding: 15px;
  background: rgba(255, 255, 255, .45);
}

.signout {
  background: rgba(255, 255, 255, .45);
  border: 2px solid rgb(173, 172, 172);
  color: rgb(173, 172, 172);
}

.button {
  font-size: 4vw;
  border: 2px white;
  border-radius: 6px;
  width: 20vw;
  height: 30vw;
  vertical-align: middle;
  color: #fffcf9;
  background-color: rgb(151, 146, 146);
}

.button:hover {
  background-color: rgb(194, 190, 190);
}

.btn-link {
  text-decoration: underline;
}
