html {
  height: 100%;
}
  
body {
  font-family: Verdana, sans-serif;
  background-color: rgb(202, 202, 209);
}

.navbar {
  padding-right: 0px;
}

.navbar-default .navbar-brand:hover{
  color: #777;
}

.nav-item {
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.nav-item:hover {
  background-color: rgb(202, 202, 209);
}

.page-content {
  margin: 0px 10px 0px 10px;
}

.login {
  border-radius: 6px;
  width: 500px;
  padding: 15px;
  background: rgba(70, 72, 102, .3);
}

.error-message {
  color: rgb(216, 50, 50);
}

.signup {
  border-radius: 6px;
  width: 600px;
  padding: 15px;
  background: rgba(255, 255, 255, .45);
}

.homegrid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 4vw;
  height: 50vh;
  color: whitesmoke;
  background-color: #464866;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.homegrid:hover {
  background-color: #f7c18ed7;
  color: black;
  cursor: pointer;
}

.homegrid-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  border-right: 2px solid #8E8D8A;
}

.progress-bar {
  background-color: #29648A;
}

.resumegrid, .interestsgrid {
  font-size: 25px;
  border: 2px;
  border-radius: 6px;
  width: 25vw;
  height: 17vw;
  max-width: 300px;
  max-height: 200px;
  vertical-align: middle;
  color: whitesmoke;
  background-color: #464866;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.resumegrid:hover, .interestsgrid:hover {
  color: black;
  background-color: #f7c18ed7;
}

.resumeaddgrid, .interestsaddgrid {
  font-size: 25px;
  border: 4px solid gray;
  border-radius: 6px;
  width: 25vw;
  height: 17vw;
  max-width: 300px;
  max-height: 200px;
  vertical-align: middle;
  color: gray;
  background-color: transparent;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.resumeaddgrid:hover, interestsaddgrid:hover {
  background-color: #f7c18ed7;
}

.gridbreak {
  height: 30px;
}

.btn-link {
  text-decoration: underline;
}

.appgrid {
  font-size: 4vw;
  border: 2px white;
  border-radius: 6px;
  width: 20vw;
  height: 40vw;
  vertical-align: middle;
  margin: auto;
  color: #ffffff;
  background-color: rgb(255, 255, 255);
}

.appgridheader {
  font-size: 4vw;
  border: 2px white;
  border-radius: 6px;
  width: 20vw;
  height: 5vw;
  vertical-align: middle;
  margin: auto;
  color: #fffcf9;
  background-color: rgb(151, 146, 146);
}

.appgridheadertext {
  padding: 1.25vw;
}

.appgriditem {
  font-size: 2vw;
  padding: 10px;
  border: 2px white;
  border-radius: 6px;
  width: 18vw;
  height: 5vw;
  vertical-align: middle;
  margin: auto;
  color: #fffcf9;
  background-color: rgb(151, 146, 146);
}

.appgriditem:hover {
  cursor: -webkit-grab;
}

.appgridlist {
  padding: 10px;
  font-size: 4vw;
  border: 2px white;
  border-radius: 6px;
  width: 20vw;
  height: 35vw;
  vertical-align: middle;
  margin: auto;
  color: #ffffff;
  background-color: rgb(255, 255, 255);
  list-style-type: none;
}

.itemgrid {
  padding: 20px;
  font-size: 4vw;
  height: 20vh;
  color: whitesmoke;
  background-color: #464866;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  border-radius: 6px;
}

.itemgrid:hover {
  background-color: #f7c18ed7;
  color: black;
  cursor: pointer;
}

.itemgrid-inner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40vh;
  border-right: 2px solid #8E8D8A;
}
